.form-item {
    margin-bottom: 20px;
    
    label {
        display: block;
        color: rgba(255, 255, 255, 0.7);
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 8px;
    }
}